body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #93ada9;
}

.container {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #e95959;
  color: #e5fff5;
  transition: background-color 0.3s;
  width: 220px; /* Set a fixed width */
  text-align: center;
}

button:hover {
  background-color: #0056b3;
}
h1 {
  font-size: 36px;
  color: #0f0108;
  margin-bottom: 40px;       /* Space between title and buttons */
  text-align: top;
  font-family: "Rubik Glitch", system-ui;
}
.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}
