#canvas-background {
  /* position: fixed;  fixed on screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;     
}

/* Center the whole page content */
body {
  display: flex;
  flex-direction: column;    
  justify-content: center;  
  align-items: center;       
  height: 100vh;             
  margin: 0;
  background-color: #90bdf1;
  font-family: Arial, sans-serif;
}